.main_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  font-family: "Poppins", sans-serif;
}

svg text {
  text-transform: uppercase;
  animation: stroke 5s alternate;
  stroke-width: 2;
  /* stroke: #365fa0; */
  font-size: 70px;
  font-weight: bold;
  fill: rgba(72, 138, 204, 1);
}
@keyframes stroke {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(54, 95, 160, 1);
  }
  80% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-width: 3;
  }
  100% {
    fill: rgba(72, 138, 204, 1);
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}
