@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Roboto+Slab:wght@400;500;600;700&display=swap");

/* font-family: 'Dancing Script', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif; */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
